.App {
    text-align: center;
    background-image: radial-gradient(circle, #f5e005, #f3d100, #f1c200, #edb300, #e8a503);
}

#about > div {
    max-width: 70vw;
    justify-content: center;
    display: inline-flex;
    background: cornsilk;
    border-radius: 20px;
    border: 1px solid gray;
}

.navbar, a {
    font-family: 'Ultra', serif;
}

.skills {
    color: lavenderblush;
    font-size: large;
    font-family: 'Ultra', serif;
    -webkit-text-stroke: 1px #495057;
    text-shadow: 5px 4px 3px #d39e00;
}

.App-logo {
    height: 30vmin;
    pointer-events: none;
}

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

.name-title {
    font-family: 'Monoton', cursive;
    font-size: 10vmin;
    /*color: lavenderblush;*/
    background: -webkit-linear-gradient(#eee, #495057);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#mail-content {
    resize: both;
    overflow: auto;
    border: 2px solid;
}

#email {
    padding: 10px;
    margin: 10px;
}

.sections {
    font-family: 'Ultra', serif;
    text-decoration: underline;
    text-decoration-style: double;
    padding: 3vmin 0 1vmin 0;
    margin-bottom: 2vmin;
}

#film_roll{
    justify-content: center;
    display: inline-flex;
}

.all-links{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 26px;
}

footer {
    border-top: 1px dashed black;
    margin-top: 2vmin;
    border-top: 4px solid lavenderblush;
    display: inline-flex !important;
}

.icons {
    height: 40px;
    padding: 5px;
}

.icons-brands {
    filter: grayscale(90%);
    opacity: 60%;
    max-width: 100px;
    margin: 10px;
}

#socials {
    padding: 0;
}

.carousel {
    max-width: 95vw;
    display: inline-flex;
    justify-content: center;
}

.App-header {
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background: cornsilk;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.App-link {
    color: #61dafb;
}

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
